
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ABeeZee", sans-serif;
    font-style: normal;     
}

body{
    background-color: rgb(35, 35, 36);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: purple;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blueviolet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px rgba(137, 43, 226, 0.849);
    transform: scale(1.05);
}

/* Estilo cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color:rgb(79, 80, 80);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
color: beige;
transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* Topo do site */

section.topo-site{
    padding: 40px 4%;

}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1{
    color: bisque;
    font-size: 42px;
    line-height: 40px;
}

.topo-site .txt-topo-site h1 span{
    color:rgba(137, 43, 226, 0.849);

}

.topo-site .txt-topo-site p{
    color: #ffff;
    padding: 40px 0;
}

.topo-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Especialidades */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff67;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: purple;
}

.especialidades .especialidades-box h3{
    font-size:28px;
    margin: 15px 0;
}

/* Sobre */

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: purple;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: purple;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* Portfolio */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff17;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Formulario */

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(61, 60, 60);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
width: 120px;
background-color: purple;
color:rgba(0, 0, 0, 0.788);
font-weight: 700;
cursor: pointer;
transition: .2s;
}

form input::placeholder{
    color: purple
}

/* Responsividade */

@media screen and (max-width: 1020px){
    .flex{
        flex-direction: column;
    }

    .menu-desktop, .btn-contato{
        display: none;   
    }

    .topo-site h1{
        font-size: 30px;
    }

    section.topo-site{
        padding: 20px 8%;
    }

    .topo-site .img-topo-site img{
        width: 100%;
    }   

section.topo-site .flex{
    gap:40px
}

section.especialidades{
    padding: 40px 8%;
}

h2.titulo{
    font-size: 34px;
    line-height: 30px;
}

section.sobre{
    padding: 80px 8%;
}

.sobre .txt-sobre h2{
    font-size: 34px;
    line-height: 35px;
    text-align: center;
}

.btn-social{
    text-align: center;
}

.img-sobre img{
    width: 100%;
}

    section.portfolio{
        padding: 80px 8%;
}

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

    footer .flex{
        flex-direction: column;
        gap:30px;
    }

    footer .line-footer{
        text-align: center;
    }
}

